/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800;900&display=swap');


// fonts
$base-font-size: 18;
$base-font:'Urbanist';
$heading-font:'Urbanist';
$heading-font-sub: 'Urbanist';



// color
$dark-gray: #1A1729;
$body-color: #5A5A5A;
$dark-mode: #030303;
$dark-bg: #0C0C0C;
$white: #fff;
$light: #8188a9;
$black: #000;
$cyan: #444444;

$theme-primary-color: #C3B287;
$theme-primary-color-s2: #A48F5B;
$body-bg-color: #fff;
$section-bg-color: #f4f8fc;
$section-bg-color-2: #EAE6DC;
$text-color: #6e6e6e;
$text-light-color: #676767;
$heading-color: $dark-gray;
$border-color: #e1e1e1;
$border-color-s2: #d8e0f1;
