/*--------------------------------------------------------------
3. content
--------------------------------------------------------------*/

/*3.1 wpo-hero-slider*/

.wpo-hero-style-1,
.wpo-hero-style-2 {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 1;
	padding: 0 60px;
	padding-bottom: 100px;

	@media (max-width:767px) {
		padding: 50px 0px;
	}

	.shape-1 {
		position: absolute;
		bottom: 10%;
		left: 50px;
		animation: zoom-in-zoom-out 5s ease infinite;
	}

	.shape-2 {
		position: absolute;
		top: 10%;
		right: 50px;
		animation: zoom-in-zoom-out 5s ease infinite;
	}

	.wpo-hero-img {
		border-radius: 300px;
		padding: 20px;
		border-radius: 320px;
		border: 1px solid #ABA596;
		position: relative;
		z-index: 1;


		@media (max-width:767px) {
			margin: 40px 0;
		}

		img {
			border-radius: 300px;
			width: 100%;
		}

		.vector-1 {
			position: absolute;
			right: -30px;
			top: 0;
			animation: circle 15s linear infinite;
		}

		.vector-2 {
			position: absolute;
			left: -20%;
			top: 55%;
			animation: circle 15s linear infinite;
		}

		.vector-3 {
			position: absolute;
			left: 0;
			bottom: 30px;
			animation: bounceX 3s linear infinite;
		}
	}

	.wpo-hero-title-box {
		padding: 20px;
		background: #EAE6DC;
		border-radius: 150px;
		margin-right: -100px;
		position: relative;
		max-width: 640px;
		overflow: hidden;
		margin-bottom: 158px;
		z-index: 11;

		@media (max-width:1500px) {
			margin-bottom: 100px;
		}

		@media (max-width:1199px) {
			padding: 10px;
		}

		@media (max-width:767px) {
			max-width: 320px;
			margin: 0 auto;
			text-align: center;
		}


		&:before {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			content: "";
			background: url(../../images/noise.png);
			z-index: -1;
		}
	}

	.wpo-hero-title {
		border: 1px solid #ACA79A;
		padding: 50px 70px;
		border-radius: 130px;

		@media (max-width:1500px) {
			padding: 30px 50px;
		}

		@media (max-width:1400px) {
			padding: 20px 40px;
		}

		@media (max-width:1199px) {
			padding: 20px 25px;
		}

		h2 {
			font-size: 60px;
			font-style: normal;
			font-weight: 700;
			line-height: 80px;
			text-transform: uppercase;
			margin-bottom: 0;

			@media (max-width:1890px) {
				font-size: 50px;
			}

			@media (max-width:1659px) {
				font-size: 40px;
				line-height: 58px;
			}

			@media (max-width:1500px) {
				font-size: 35px;
				line-height: 48px;
			}

			@media (max-width:1199px) {
				font-size: 22px;
				line-height: 30px;
			}

			@media (max-width:991px) {
				font-size: 18px;
				line-height: 30px;
			}
		}
	}

	.wpo-supporter {
		padding: 30px;
		background: $white;
		border-radius: 75px;
		box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
		z-index: 99;
		display: flex;
		align-items: center;
		max-width: 420px;
		margin-right: -80px;
		margin-left: auto;
		position: relative;

		@include media-query(1199px) {
			padding: 15px;
			top: auto;
			flex-wrap: wrap;
			justify-content: center;
		}

		@media (max-width:991px) {
			width: 270px;
		}

		@include media-query(767px) {
			padding: 15px;
			width: 280px;
			left: 0;
			margin: 0 auto;
			margin-top: 20px;
		}

		.wpo-supporter-text {
			margin-right: 20px;

			@include media-query(1199px) {
				margin-right: 0;
				text-align: center;
			}

			h3 {
				font-size: 40px;
				font-style: normal;
				font-weight: 700;
				margin-bottom: 0px;

				@media (max-width:991px) {
					font-size: 30px;
				}
			}

			p {
				margin-bottom: 0;
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 27px;
			}
		}

		.wpo-supporter-slide {
			max-width: 216px;
			list-style: none;
			margin: 0 auto;

			.owl-nav {
				display: none;
			}

			li {
				width: 55px;
				height: 55px;

				img {
					width: 55px;
					height: 55px;
					padding: 3px;
					border: 1px solid $border-color;
					border-radius: 50%;
					@include rounded-border(50%);
				}
			}
		}

	}

	.experience {
		max-width: 320px;
		background: $white;
		display: flex;
		padding: 10px;
		align-items: center;
		text-align: left;
		border-radius: 65px;
		box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
		margin-left: -150px;
		z-index: 11;
		position: relative;

		@include media-query(767px) {
			width: 260px;
			top: 0;
			padding: 10px;
			margin: 0 auto;
		}

		p {
			margin-bottom: 0;
			font-size: 25px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			font-style: normal;
			color: $black;

			@media (max-width:991px) {
				font-size: 20px;
			}

			@include media-query(767px) {
				font-size: 15px;
			}
		}

		.icon {
			span {
				width: 100px;
				height: 100px;
				line-height: 100px;
				background: #EAE6DC;
				text-align: center;
				border-radius: 50%;
				margin-right: 10px;
				display: block;
				color: $white;
				font-size: 70px;
				font-weight: 700;
				color: $black;

				@include media-query(767px) {
					width: 80px;
					height: 80px;
					line-height: 80px;
					font-size: 40px;
				}
			}
		}
	}

	.wpo-hero-right {
		.wpo-hero-title-box {
			margin-right: 0;
			margin-left: -70px;
			text-align: right;
			margin-top: 200px;
			margin-bottom: 0;

			@media (max-width:1500px) {
				margin-top: 100px;
			}

			@include media-query(767px) {
				margin: 0 auto;
				margin-top: 20px;
				text-align: center;
			}

			.wpo-hero-title {
				padding: 50px 65px;

				@media (max-width:1500px) {
					padding: 30px 50px;
				}

				@media (max-width:1400px) {
					padding: 20px 40px;
				}

				@media (max-width:1199px) {
					padding: 20px;
				}
			}

		}
	}


}

// .wpo-hero-section-2

.wpo-hero-style-2 {
	background: #EAE6DC;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 1;
	padding-bottom: 0;
	padding-top: 50px;

	@media(max-width:1440px) {
		padding-top: 120px;
	}

	.wpo-hero-img {
		border: 0;
		border-radius: 0;
		padding: 0;

		@include media-query(767px) {
			margin-bottom: 0;
		}


		img {
			border-radius: 0;
		}

	}

	.wpo-hero-title-box {
		transform: rotate(12deg);
		background: none;
		margin-bottom: 145px;
		border-radius: 0;

		@media(max-width:1500px) {
			margin-bottom: 100px;
		}

		@media(max-width:1199px) {
			margin-bottom: 40px;
		}

		@media(max-width:991px) {
			margin-bottom: -40px;
		}

		@include media-query(767px) {
			transform: unset;
		}

		&:before {
			display: none;
		}

		.wpo-hero-title {
			border: 0;
			padding: 0;

			h2 {
				@media (max-width: 1199px) {
					font-size: 32px;
					line-height: 42px;
				}

				@media (max-width:991px) {
					font-size: 25px;
				}
			}
		}
	}

	.wpo-hero-right {
		.wpo-hero-title-box {
			border-radius: 0;
			margin-left: -130px;
			text-align: right;
			margin-top: 75px;

			@media(max-width:1659px) {
				margin-top: -40px;
			}

			@include media-query(767px) {
				margin: 0 auto;
				text-align: center;
			}

			.wpo-hero-title {
				border: 0;
				padding: 0;
				border-radius: 0;
			}
		}
	}

	.experience {
		margin-right: 0;
		margin: 0 auto;
		position: relative;
		bottom: -150px;
		background: 0;
		box-shadow: none;

		@include media-query(1440px) {
			bottom: -80px;
		}

		@include media-query(767px) {
			bottom: 0;
			justify-content: center;
			margin-top: 20px;
		}

		.icon span {
			background: none;
			width: auto;
		}
	}

	.wpo-supporter {
		position: relative;
		top: -160px;
		margin-right: 0;
		background: none;
		box-shadow: none;

		@include media-query(800px) {
			top: -130px;
		}
		@include media-query(767px) {
			top: 0;
			margin: 0 auto;
		}
	}

	.hero-marque {
		position: absolute;
		left: -10%;
		top: 30%;
		width: 120%;
		transform: rotate(11.03deg);

		@media(max-width:1440px) {
			top: 38%;
		}

		@include media-query(767px) {
			display: none;
		}

		h1 {
			font-size: 350px;
			font-style: normal;
			font-weight: 900;
			line-height: 340px;
			text-transform: uppercase;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: #D8D8D8;
			white-space: nowrap;
			will-change: transform;
			animation: marquee 32s linear infinite;

			@media(max-width:1659px) {
				font-size: 200px;
				line-height: 220px;
			}

			@media(max-width:1399px) {
				font-size: 135px;
				line-height: 210px;
			}

			@media(max-width:767px) {
				font-size: 70px;
				line-height: 90px;
			}
		}
	}

	.marquee {
		position: relative;
		width: 100vw;
		max-width: 100%;

		@media(max-width:1399px) {
			height: 110px;
		}

		@media(max-width:767px) {
			height: 80px;
		}
	}

	.track {
		position: absolute;
		white-space: nowrap;
		will-change: transform;
		animation: marquee 500s linear infinite;
		padding: 20px 0;
		border-top: 2px solid #ABABAB;
		border-bottom: 2px solid #ABABAB;

		.content {
			background: $white;
		}
	}

	@keyframes marquee {
		from {
			transform: translateX(0);
		}

		to {
			transform: translateX(-50%);
		}
	}

	.round-shape {
		@include media-query(767px) {
			position: absolute;
			bottom: 30%;
			width: 100%;
		}

		@include media-query(575px) {
			display: none;
		}

		.round-1,
		.round-2,
		.round-3 {
			position: absolute;
			border: 1px solid #C9C4B9;
			left: 50%;
			top: 50%;
			width: 600px;
			height: 600px;
			border-radius: 50%;
			z-index: -1;
			transform: translate(-50%, -50%);

			@include media-query(1750px) {
				width: 500px;
				height: 500px;
			}

			@include media-query(1500px) {
				top: 60%;
			}

			@include media-query(1399px) {
				width: 400px;
				height: 400px;
			}

			@include media-query(1300px) {
				width: 300px;
				height: 300px;
			}
		}

		.round-2 {
			width: 700px;
			height: 700px;

			@include media-query(1750px) {
				width: 600px;
				height: 600px;
			}

			@include media-query(1399px) {
				width: 500px;
				height: 500px;
			}

			@include media-query(1300px) {
				width: 400px;
				height: 400px;
			}
		}

		.round-3 {
			width: 786px;
			height: 786px;
			z-index: -3;

			@include media-query(1750px) {
				width: 700px;
				height: 700px;
			}

			@include media-query(1399px) {
				width: 600px;
				height: 600px;
			}

			@include media-query(1300px) {
				width: 500px;
				height: 500px;
			}
		}
	}

}


// wpo-hero-style-3

.wpo-hero-style-3,
.wpo-hero-style-4 {
	background: $dark-mode;
	position: relative;
	padding-top: 60px;

	@media(max-width:991px) {
		padding-top: 100px;
	}

	.wpo-hero-content {
		padding-left: 200px;
		margin-bottom: 100px;

		@media(max-width:1700px) {
			padding-left: 30px;
		}

		@media(max-width:991px) {
			text-align: center;
			padding-left: 0;
		}

		@media(max-width:450px) {
			margin-bottom: 40px;
		}

		.wpo-hero-text {
			span {
				color: $white;
				font-size: 50px;
				font-style: normal;
				font-weight: 700;
				line-height: 80px;
				text-transform: uppercase;

				@media(max-width:1399px) {
					font-size: 40px;
				}

				@media(max-width:450px) {
					font-size: 25px;
					line-height: 40px;
				}
			}

			h2 {
				color: $white;
				font-size: 80px;
				font-style: normal;
				font-weight: 700;
				line-height: 100px;
				text-transform: uppercase;

				@media(max-width:1399px) {
					font-size: 60px;
					line-height: 80px;
				}

				@media(max-width:1199px) {
					font-size: 50px;
					line-height: 60px;
				}

				@media(max-width:450px) {
					font-size: 35px;
					line-height: 40px;
				}
			}

			p {
				font-size: 25px;
				font-style: normal;
				font-weight: 700;
				line-height: 40px;
				max-width: 432px;
				color: $white;

				@media(max-width:991px) {
					margin: 0 auto;
				}

				@media(max-width:450px) {
					font-size: 20px;
					line-height: 30px;
				}
			}
		}


		.slide-btns {
			display: flex;
			align-items: center;
			margin-top: 40px;

			ul {
				display: flex;
				align-items: center;
				list-style: none;
				padding-left: 20px;

				ul {
					padding-left: 0;
				}


				li {
					.video-btn .btn-wrap {
						display: block;
						width: 55px;
						height: 55px;
						border: 2px solid #F2CD8C;
						text-align: center;
						line-height: 55px;
						border-radius: 50%;
						color: $theme-primary-color;
						margin-right: 10px;
						background: none;
					}

					&.video-text {
						@media(max-width:1070px) {
							display: none;
						}

						span {
							color: $white;
							font-weight: 600;
							font-size: 20px;
							width: 100%;
							height: 100%;
							box-shadow: none;
							border: none;
						}
					}
				}
			}

			@include media-query(991px) {
				margin: auto;
				margin-top: 20px;
				justify-content: center;
			}
		}
	}


	.wpo-hero-img {
		position: relative;
		z-index: 1;


		@media(max-width:991px) {
			text-align: center;

			img {
				width: 100%;
				max-width: 638px;
			}
		}

		.line-shape {
			position: absolute;
			left: -7%;
			top: 8%;
			z-index: -1;

			@media(max-width:1400px) {
				left: -15%;
			}

			@media(max-width:991px) {
				left: 50%;
				transform: translateX(-50%);
			}

			svg {
				width: 747px;
				height: 815px;

				@media(max-width:991px) {
					width: 600px;
				}

				@media(max-width:767px) {
					display: none;
				}
			}
		}

		.line-shape-2 {
			position: absolute;
			left: -46px;
			bottom: 23px;

			@media(min-width:2000px) {
				display: none;
			}

			@media(max-width:1900px) {
				left: -45px;
			}

			@media(max-width:1800px) {
				left: -38px;
			}

			@media(max-width:1700px) {
				left: -36px;
			}

			@media(max-width:1600px) {
				left: -33px;
			}

			@media(max-width:1500px) {
				left: -31px;
			}

			@media(max-width:1400px) {
				left: -82px;
			}

			@media(max-width:1300px) {
				left: -72px;
			}

			@media(max-width:1199px) {
				display: none;
			}

			svg {
				width: 626px;
				height: 446px;
			}
		}

	}

	.wpo-supporter {
		z-index: 99;
		display: flex;
		align-items: center;
		max-width: 420px;
		position: relative;
		margin-left: 200px;
		position: absolute;
		bottom: 60px;

		@media(max-width:1700px) {
			margin-left: 30px;
		}


		@include media-query(1199px) {
			padding: 15px;
			top: auto;
			flex-wrap: wrap;
			justify-content: center;
		}

		@media (max-width:991px) {
			width: 270px;
		}

		@include media-query(767px) {
			padding: 15px;
			width: 280px;
			left: 0;
			margin: 0 auto;
			margin-top: 20px;
		}

		@media(max-width:575px) {
			display: none;
		}

		.wpo-supporter-text {
			margin-right: 20px;

			@include media-query(1199px) {
				margin-right: 0;
				text-align: center;
			}

			h3 {
				font-size: 40px;
				font-style: normal;
				font-weight: 700;
				margin-bottom: 0px;
				color: $white;

				@media (max-width:991px) {
					font-size: 30px;
				}
			}

			p {
				margin-bottom: 0;
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 27px;
				color: $white;
			}
		}

		.wpo-supporter-slide {
			max-width: 216px;
			list-style: none;
			margin: 0 auto;

			.owl-nav {
				display: none;
			}

			li {
				width: 55px;
				height: 55px;

				img {
					width: 55px;
					height: 55px;
					padding: 3px;
					border: 1px solid $border-color;
					border-radius: 50%;
					@include rounded-border(50%);
				}
			}
		}

	}

	.light-shape-1 {
		position: absolute;
		left: -57px;
		top: 120px;
		width: 233px;
		height: 233px;
		background: radial-gradient(50% 50% at 50% 50%, #FFB677 0%, rgba(242, 205, 140, 0.00) 97.4%);
		opacity: 0.3;
	}

	.light-shape-2 {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 195px;
		height: 195px;
		opacity: 0.3;
		background: radial-gradient(50% 50% at 50% 50%, #FFB677 0%, rgba(242, 205, 140, 0.00) 97.4%);
	}

	.light-shape-3 {
		position: absolute;
		right: 50px;
		top: 10%;
		width: 364px;
		height: 364px;
		border-radius: 364px;
		opacity: 0.3;
		background: radial-gradient(50% 50% at 50% 50%, #FFB677 0%, rgba(242, 205, 140, 0.00) 97.4%);
	}

	.rotate-text {
		position: absolute;
		right: 35px;
		bottom: 30px;
		width: 200px;
		height: 200px;
		line-height: 200px;
		border-radius: 50%;
		z-index: 11;

		@media(max-width:575px) {
			right: auto;
			left: 50%;
			transform: translateX(-50%);
			bottom: 20px;
		}

		.circular-text {
			position: relative;
			top: 15px;

			span {
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				color: $white;
			}

		}

		.icon {
			position: absolute;
			left: 28%;
			top: 5px;

			i {
				display: inline-block;
				font-size: 30px;
				color: $dark-gray;
				width: 90px;
				height: 90px;
				line-height: 90px;
				text-align: center;
				background: var(--gradiant, linear-gradient(180deg, #F2CD8C 0%, #CC9260 100%));
				border-radius: 50%;
			}
		}

		.dots {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 30px;
			display: flex;

			span {
				display: inline-block;
				width: 10px;
				height: 10px;
				background: #B29F92;
				border-radius: 50%;
				line-height: normal;
				margin: 0 5px;
			}
		}
	}
}


// wpo-hero-style-4

.wpo-hero-style-4 {
	z-index: 1;
	overflow: hidden;


	.wpo-hero-content {
		padding-left: 110px;
		margin-bottom: 0;
		z-index: 11;
		position: relative;

		@media(max-width:1700px) {
			padding-left: 30px;
		}

		@media(max-width:991px) {
			padding-left: 0;
			margin-bottom: 50px;
		}

		.wpo-hero-text {
			h2 {
				text-transform: capitalize;
				z-index: 1;

				@media(max-width:1600px) {
					font-size: 70px;
				}

				@media(max-width:1440px) {
					font-size: 60px;
					line-height: 80px;
				}

				@media(max-width:1399px) {
					font-size: 55px;
					line-height: 70px;
				}

				@media(max-width:1199px) {
					font-size: 50px;
					line-height: 65px;
				}

				@media(max-width:1100px) {
					font-size: 45px;
					line-height: 55px;
				}

				@media(max-width:450px) {
					font-size: 30px;
					line-height: 50px;
				}

				b {
					position: relative;
					z-index: -1;

					.shape {
						position: absolute;
						top: -10px;
						left: -20px;
						width: 115%;
						z-index: -1;

						svg {
							fill: $theme-primary-color-s2;
						}
					}
				}
			}

			span {
				font-size: 40px;
				font-weight: 700;
				line-height: 70px;
				text-transform: uppercase;

				@media(max-width:1440px) {
					font-size: 30px;
				}

				@media(max-width:1199px) {
					font-size: 20px;
				}

				@media(max-width:450px) {
					font-size: 18px;
				}

				span {
					border-bottom: 1px solid $theme-primary-color-s2;
				}
			}
		}
	}

	.wpo-hero-img {
		margin-bottom: -2px;

		@media(max-width:1399px) {
			max-width: 400px;
		}

		@media(max-width:1199px) {
			max-width: 350px;
			margin: 0 auto;
			margin-bottom: -2px;
		}

		img {
			@media(max-width:1399px) {
				width: 100%;
			}
		}
	}

	.shape-bg {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: -1;
	}

}